.city {
  background-color: blue;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.note {
  font-size: 100px;
  color: red;
}

.auto {
  background-color: blue;
  color: chartreuse;
  padding: 100px;
}

.dis {
  text-align: center;
}

.menu {
  width: 80%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
  padding: 20px;
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1, h2, p {
  text-align: center;
}

hr {
  height: 3px;
  background-color: brown;
  border-color: brown;
}

.flavor,
.dessert {
  text-align: left;
  font-size: 30px;
  width: 75%;
}

.price {
  text-align: right;
  font-size: 30px;
  width: 25%;
}

a {
  color: blue;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: rgb(73, 2, 2);
}

.item p {
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
  font-size: 30px;
}

.yo {
  font-size: 40px;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bottom-line {
  margin-top: 25px;
}

.est {
  font-style: italic;
  font-size: 40px;
}

img {
  margin-top: -25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}